@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
:root {
    --primary-color: #FF7A00;
}
body, html {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h3, h4 {
    color: var(--primary-color);
    font-weight: bolder;
    height: 7px;
    font-family: 'Hind Siliguri', sans-serif;
}
#container-mensagem {
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: fixed;
    backdrop-filter: brightness(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-color {
    max-width: 60%;
    background-color: rgba(242, 245, 251, 1);
    box-shadow: 20px 20px 50px rgb(0 0 0 / 50%);
    padding: 20px;
    border-radius: 20px;
    border: none;
    max-width: 600px;
    margin: 0px 20px;
    animation: downAnimation .5s;
}
#container-close-modal {
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#close-modal {
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bolder;
    background-color: red;
    color: #f2f5fb;
    border: none;
    font-size: 15px;
    padding: 8px 40px;
    border-radius: 5px;
    cursor: pointer;
}
#container-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#title-info {
    border-bottom: 2px solid var(--primary-color);
    height: 50px;
    font-weight: bolder;
}
#text-info{
    color: var(--primary-color);
    font-weight: bolder;
    height: 7px;
    font-family: 'Hind Siliguri', sans-serif;
    height: auto;
    opacity: 1 !important;
}
.input-color-info {
    display: flex;
    align-items: baseline;
    gap: 5px;
    position: relative;
}
#screen {
    background: url(./img/background.png);
    display: grid;
    grid-template-rows: 15vh 70vh;
}
#screen p{
    position: relative;
    font-size: 1.1em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#detail {
    position: absolute;
    width: 296.66999999999996px;
    height: 163px;
    left: 0;
    transform: rotate(359deg);
    filter:drop-shadow(4px 4px 4px rgb(255 122 0 / 29%));
    animation: leftAnimation 2s;
}
@keyframes leftAnimation {
    0%{
        left: -300px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
header {
    position: relative;
    padding-left: 10%;
    color: #f2f5fb;
    font-family: 'Hind Siliguri', sans-serif;
    width: 50%;
    left: 50%;
    background: var(--primary-color);
    box-shadow: 4px 4px 4px rgb(255 122 0 / 29%);
    border-radius: 15px 5px;
    animation: rightAnimation 2s;
}
@keyframes rightAnimation {
    0%{
        left: 100%;
        opacity: 0;
    }
    100%{

        opacity: 1;
    }
}
#user {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
#user p {
    margin: 0;
    height: 50%;
}
#user i {
    font-size: 25px;
}
#user-center {
    display: flex;
    align-items: baseline;
    gap: 10px;
    height: 50%;
}
.input-color {
    display: flex;
    align-items: baseline;
    gap: 5px;
    position: absolute;
    bottom: 2%;
    left: 9em;
}
.input-color label{
    font-size: 1em;
    font-weight: 500;
}
.square {
    height: 13px;
    width: 13px;
    border-radius: 5px;
}
#menu {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0 auto;
    width: 90%;
    animation: downAnimation 2s;
}
@keyframes downAnimation {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
#main-header {
    text-align: center;
}
#info-color {
    display: flex;
    justify-content: space-around;
}
#container-services {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 70vh;
}
#container-services::-webkit-scrollbar {
    width: 5px;
}
#container-services::-webkit-scrollbar-track {
    background-color: #bebebe;
    border-radius: 5px;
}
#container-services::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}
.services {
    width: 100%;
}
.service p, label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-service {
    display: flex;
    gap: 20px;
    align-items: center;
}
.bi-info-circle-fill {
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 1%; left: 11em;
}
.service {
    border-bottom: 1px solid #19253d;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    min-height: 110px;
    position: relative;
}
.name-service {
    color: var(--primary-color);
    font-weight: bolder;
    height: 7px;
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    font-size: 1.17em !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.description-service {
    position: absolute;
    font-size: 1.1em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 50%;
}
.value{
    position: absolute;
    font-size: 1.1em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 2%;
}
.service-container {
    width: 90%;
}
.container-service-checkbox {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5%;
}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 2px solid var(--primary-color);
    background: #fff;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 18px;
    border: solid var(--primary-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 11px;
}
span{
    margin: 0px 15px;
}
.valor {
    margin: 0;
}
#container-value-service {
    display: flex;
    font-family: 'Hind Siliguri', sans-serif;
    width: 100%;
    justify-content: center;
    bottom: 0px;
    animation: upAnimation 1s;
    align-items: center;
    margin-top: 2%;
    position: fixed;
}
@keyframes upAnimation {
    0%{
        transform: translateY(60px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
#value-service {
    height: 30px;
    width: 40%;
}
#btn-confirm {
    background: var(--primary-color);
    box-shadow: 4px 4px 4px rgb(255 122 0 / 29%);
    border-radius: 15px 5px;
    color: #f2f5fb;
    font-family: 'Hind Siliguri', sans-serif;
    width: 50%;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
#btn-confirm:hover {
    background: #19253d;
}
#confirm-service {
    height: 1.5em;
}
.hide {
    display: none !important;
}
@media screen and (max-width: 500px){
    #container-services::-webkit-scrollbar {
        display: none;
    }
    .description-service{
        top: 40% !important;
        max-width: 17em !important;
    }
    .service {
        min-height: 138px !important;
    }
    #confirm-service {
        height: 1.5em;
        width: 200px;
        text-align: center;
        font-size: 15px;
    }
}
