@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
body, html {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h3, h4 {
    color: #FF7A00;
    font-weight: bolder;
    height: 7px;
    font-family: 'Hind Siliguri', sans-serif;
}
#screen {
    background: url(./img/background.png);
    display: grid;
    grid-template-rows: 15vh 70vh 15vh;
}
#screen p{
    position: relative;
    font-size: 1.1em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#detail {
    position: absolute;
    width: 296.66999999999996px;
    height: 163px;
    left: 0;
    transform: rotate(0);
    filter:drop-shadow(4px 4px 4px rgb(255 122 0 / 29%));
}
header {
    position: relative;
    padding-left: 10%;
    color: #f2f5fb;
    font-family: 'Hind Siliguri', sans-serif;
    width: 50%;
    left: 50%;
    background: #FF7A00;
    box-shadow: 4px 4px 4px rgb(255 122 0 / 29%);
    border-radius: 15px 5px;
}
#user {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
#user p {
    margin: 0;
    height: 50%;
}
#user i {
    font-size: 25px;
}
#user-center {
    display: flex;
    align-items: baseline;
    gap: 10px;
    height: 50%;
}
.input-color {
    display: flex;
    align-items: baseline;
    gap: 5px;
}
.input-color label{
    font-size: 1em;
    font-weight: 500;
}
.square {
    height: 13px;
    width: 13px;
    border-radius: 5px;
}
#menu {
    display: grid;
    grid-template-rows: 10% 90%;
    margin: 0 auto;
    width: 90%;
}
#main-header {
    text-align: center;
}
#info-color {
    display: flex;
    justify-content: space-around;
}
#container-services {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
}
#container-services::-webkit-scrollbar {
    width: 5px;
}
#container-services::-webkit-scrollbar-track {
    background-color: #bebebe;
    border-radius: 5px;
}
#container-services::-webkit-scrollbar-thumb {
    background-color: #FF7A00;
    border-radius: 5px;
}
.services {
    width: 100%;
}
.service p, label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-service {
    display: flex;
    gap: 20px;
    align-items: center;
}
.service {
    border-bottom: 1px solid #FF7A00;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
}

.service-container {
    width: 90%;
}
.container-service-checkbox {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: 2px solid #FF7A00;
    background: #fff;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 8px;
    height: 18px;
    border: solid orange;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 11px;
}
span{
    margin: 0px 15px;
}
.valor {
    margin: 0;
}
#container-value-service {
    display: flex;
    align-items: center;
    font-family: 'Hind Siliguri', sans-serif;
    width: 90%;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    left: 5%;
}
#value-service {
    height: 30px;
    width: 40%;
}
#btn-confirm {
    background: #FF7A00;
    box-shadow: 4px 4px 4px rgb(255 122 0 / 29%);
    border-radius: 15px 5px;
    color: #f2f5fb;
    font-family: 'Hind Siliguri', sans-serif;
    width: 50%;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
#btn-confirm:hover {
    background: #19253d;
}
@media screen and (max-width: 500px){
    #container-services::-webkit-scrollbar {
        display: none;
    }
}
